<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JsPlayground</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="../../assets/css/custom.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="../../assets/css/custom.css" />
    </environment>
</head>

<body>

    <header>
        <div class="container">
            <h2 class="text-muted text-center">
                @RenderSection("LibraryHeader", required: true)
            </h2>
        </div>
    </header>


    <div class="container mt-5">

        <p class="p2 alert alert-secondary">
            <small>
                <a href="/">home</a> >>
                @RenderSection("BreadCrumbLibrary", required: true) >>
                <a href="/#@RenderSection("BreadCrumbAnchor", required: true)">@RenderSection("BreadCrumbChapter", required: true)</a> >>
                @RenderSection("BreadCrumbPageName", required: true)
            </small>
        </p>

        <h3 class="mb-5 text-center">@RenderSection("PageName", required: true)</h3>

        @RenderBody()

        @*<div class="m-3">
                        <code>
                            // code definition
                        </code>
                    </div>

                    <h4 class="text-center text-info">tip.....</h4>

                    <div class="card text-white bg-info m-3 col-3">
                        <div class="card-body">
                            <div id="">
                                {results}
                            </div>
                        </div>
                    </div>

            <pre>
            <code>
            </code>
            </pre>

                    <p>&nbsp;</p>*@

        <p>&nbsp;</p>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - JsPlayground
        </div>
    </footer>

    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
